@media only screen and (min-width: 1025px) {
    btnrespnav {
        display: none;
    }
    #container {
        color: #276DA9;
        background-color: #e5e5e5;
        min-height: 0px;
        width: calc(100% - 1px);
        float: left;
    }

    nav {
        /*margin: 35px 0;*/
        background-color: #e5e5e5;
        font-size: 16pt;
    }

        nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;
        }

            nav ul li {
                display: inline-block;
                background-color: #e5e5e5;
            }

        nav a {
            display: block;
            padding: 0 10px;
            color: #FFF;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            color: #276DA9 !important;
            background-image: none !Important;
            border-bottom: 2px solid #E5E5E5 !important;
            padding-top: 3px;
            margin: 2px;
        }

            nav a:hover {
                color: #276DA9 !important;
                border-bottom: 2px solid #276DA9 !important;
            }




        nav ul ul {
            display: none;
            position: absolute;
            top: 30px;
            background-color: #E5E5E5;
            font-size: 9pt;
            color: #276DA9 /*#0D5AAA*/;
            z-index: 100 !important;
            /*TRASPARENZA*/
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
            filter: alpha(opacity=90);
            opacity: 0.90;
            /*BORDO ARROTONDATO*/
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            /*OMBRA*/
            outline: 0;
            outline: thin dotted \9 !important;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
        }

        nav ul li:hover > ul {
            display: inherit;
        }

        nav ul ul li {
            width: 180px;
            float: none;
            display: list-item;
            /*display: none;
            position: relative;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            outline: 0;
            outline: thin dotted \9 !important;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);*/
        }

        nav ul ul ul li {
            position: relative;
            top: -30px; 
            left: 180px;
        }

        nav ul ul li {
            /*border: 1px solid white;*/
        }
}


@media only screen and (max-width: 600px) {


    btnrespnav {
        /*makes the button visible*/
        display: block;
        /*since we are here, we can style it a little bit!*/
        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;
        /*outline none removes the default blue border that appears anytime you click on the button*/
        outline: none;
        cursor: pointer;
    }

    #container {
        color: #276DA9;
        background-color: #e5e5e5;
        min-height: 0px;
        width: calc(100% - 1px);
        float: left;
        
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    nav ul, li {
        float: none;
        list-style-type: none;
        display: block;
    }

        nav ul li, nav ul li a {
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }

    nav li {
        background-color: #e5e5e5;
        float: left;
    }

    ul {
        margin: 0px;
    }

    nav ul li ul li {
        display: none;
    }

    nav ul li:hover ul li {
        display: block;
        margin: 0px;
        padding: 0px;
    }


    nav a {
        padding: 0 10px;
        color: #FFF;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        color: #276DA9 !important;
        background-image: none !Important;
        border-bottom: 2px solid #E5E5E5 !important;
        padding-top: 3px;
        margin: 2px;
        text-align: center;
        width: 100%;
        min-width: 180px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}
