@media only screen and (min-width: 1025px) {

  .MasterBody {
    background-color: #e5e5e5;
    min-height: 100vh;
  }

  /*CLASSI PER SIDEBAR AND MAIN */

  .BWrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: calc(100% - 62px); /*100% - ALTEZZA FOOTER*/
  }

  /* CLASSI PER SIDEBAR*/

  .BSidebar {
    min-width: 350px;
    max-width: 350px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    background-color: #f2f2f2;
    padding-bottom: 30px;
    min-height: calc(100vh - 63px);
    /*float: left;*/
  }

    .BSidebar.active {
      margin-left: -350px;
      transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
      transform: translate(100deg);
      float: left;
    }

  .BSidebar_Header {
    height: 55px;
    margin: 0px !important;
    background-color: #EEDC00;
    background-image: Url('Image/LogoTitolo.png');
    background-position: center left;
    background-repeat: no-repeat;
    width: 350px;
    min-height: 55px;
    float: left;
    background-size: 256px 50px;
  }

  .BSidebar_Container {
    float: left;
    margin: 0px !important;
    background-color: #f2f2f2;
    width: 100%;
  }


  /*CLASSI PER MAIN */

  .BMain {
    width: 100%;
    transition: all 0.3s;
    padding: 0px;
    /*background-color: #ededed;*/
    background-color:white;
  }

  .BMainHeader {
    width: 100%;
    min-height: 55px;
    height: 55px;
    margin: 0px !important;
    /*background-color: #707070;*/
    background-color: #EEDC00;
    float: left;
  }

  .BSidebarHide {
    visibility: hidden;
    opacity: 0;
    float: left;
    transition: all 0.6s linear;
    transform: translate(100deg);
  }

    .BSidebarHide.active {
      visibility: visible;
      background-image: Url('Image/LogoTitolo.png');
      background-position: center left;
      background-repeat: no-repeat;
      width: 280px;
      min-height: 50px;
      margin: 3px 10px 0px 13px !important;
      opacity: 1;
      transition: opacity 1s linear;
      float: left;
      background-size: 256px 50px;
      margin-top: 6px;
    }

  .BMainHeaderPnlBtn {
    width: 50px;
    height: 100px;
    float: left;
  }


  .BMainContent {
    float: left;
    width: 100%;
  }


  .BMainHeaderContainer {
    min-height: 100px !important;
    width: calc(100% - 50px);
    float: left;
  }

    .BMainHeaderContainer.active {
      min-height: 100px !important;      
      width: calc(100% - 370px);
      float: left;
    }

  .BFooter {
    height: 33px;
    width: 100%;
    /*background-color: #707070;*/
    background-color: #EEDC00;
    float: left;
  }

  .ContainerMenu {
    float: left;
    width: 100%;
    background-color: transparent;
  }

  .ContainerContent {
    width: 100%;
    float: left;
  }

  /*CLASSE PER UTILIZZZO COOKIE*/
  .BPanelAuthCookies {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgba(66, 66, 66, 0.95);
    height: 300px;
  }

  .TestoAuthCookie {
    color: white;
    font-size: 14pt;
    line-height: 20pt;
  }

  .BBtnAccettaCookie {
    width: 200px;
    margin-top: 20px;
    margin-left: calc(50% - 100px);
    background-color: RGBA(40,167,69,1) !important;
    color: white !important;
    font-weight: bolder
  }

    .BBtnAccettaCookie:hover {
      background-color: RGBA(33,136,56,1) !important;
      color: white !important;
      border-radius: 8px !important;
      transition: 0.3s
    }

    .BBtnAccettaCookie:focus {
      border: 1px solid white;
      color: white !important;
      border-color: rgba(82,168,236,0.8);
      border-radius: 4px !important;
    }
}
