.BIcon0-white{background-image: url('Image\Icon24\0-white.png'); background-repeat: no-repeat;}
.BIcon0{background-image: url('Image\Icon24\0.png'); background-repeat: no-repeat;}

.BIcon1-white{background-image: url('Image\Icon24\1-white.png'); background-repeat: no-repeat;}
.BIcon1{background-image: url('Image\Icon24\1.png'); background-repeat: no-repeat;}

.BIcon2-white{background-image: url('Image\Icon24\2-white.png'); background-repeat: no-repeat;}
.BIcon2{background-image: url('Image\Icon24\2.png'); background-repeat: no-repeat;}

.BIcon3-white{background-image: url('Image\Icon24\3-white.png'); background-repeat: no-repeat;}
.BIcon3{background-image: url('Image\Icon24\3.png'); background-repeat: no-repeat;}

.BIcon4-white{background-image: url('Image\Icon24\4-white.png'); background-repeat: no-repeat;}
.BIcon4{background-image: url('Image\Icon24\4.png'); background-repeat: no-repeat;}

.BIcon5-white{background-image: url('Image\Icon24\5-white.png'); background-repeat: no-repeat;}
.BIcon5{background-image: url('Image\Icon24\5.png'); background-repeat: no-repeat;}

.BIcon6-white{background-image: url('Image\Icon24\6-white.png'); background-repeat: no-repeat;}
.BIcon6{background-image: url('Image\Icon24\6.png'); background-repeat: no-repeat;}

.BIcon7-white{background-image: url('Image\Icon24\7-white.png'); background-repeat: no-repeat;}
.BIcon7{background-image: url('Image\Icon24\7.png'); background-repeat: no-repeat;}

.BIcon8-white{background-image: url('Image\Icon24\8-white.png'); background-repeat: no-repeat;}
.BIcon8{background-image: url('Image\Icon24\8.png'); background-repeat: no-repeat;}

.BIcon9-white{background-image: url('Image\Icon24\9-white.png'); background-repeat: no-repeat;}
.BIcon9{background-image: url('Image\Icon24\9.png'); background-repeat: no-repeat;}

.BIconagenda-appuntamento-white{background-image: url('Image\Icon24\agenda-appuntamento-white.png'); background-repeat: no-repeat;}
.BIconagenda-appuntamento{background-image: url('Image\Icon24\agenda-appuntamento.png'); background-repeat: no-repeat;}

.BIconaiuto-white{background-image: url('Image\Icon24\aiuto-white.png'); background-repeat: no-repeat;}
.BIconaiuto{background-image: url('Image\Icon24\aiuto.png'); background-repeat: no-repeat;}

.BIconarrows-white{background-image: url('Image\Icon24\arrows-white.png'); background-repeat: no-repeat;}
.BIconarrows{background-image: url('Image\Icon24\arrows.png'); background-repeat: no-repeat;}

.BIconcam-white{background-image: url('Image\Icon24\cam-white.png'); background-repeat: no-repeat;}
.BIconcam{background-image: url('Image\Icon24\cam.png'); background-repeat: no-repeat;}

.BIconcheck-white{background-image: url('Image\Icon24\check-white.png'); background-repeat: no-repeat;}
.BIconcheck{background-image: url('Image\Icon24\check.png'); background-repeat: no-repeat;}

.BIconcloud-white{background-image: url('Image\Icon24\cloud-white.png'); background-repeat: no-repeat;}
.BIconcloud{background-image: url('Image\Icon24\cloud.png'); background-repeat: no-repeat;}

.BIcondraft-bozza-white{background-image: url('Image\Icon24\draft-bozza-white.png'); background-repeat: no-repeat;}
.BIcondraft-bozza{background-image: url('Image\Icon24\draft-bozza.png'); background-repeat: no-repeat;}

.BIcondress-white{background-image: url('Image\Icon24\dress-white.png'); background-repeat: no-repeat;}
.BIcondress{background-image: url('Image\Icon24\dress.png'); background-repeat: no-repeat;}

.BIconhour-week-white{background-image: url('Image\Icon24\hour-week-white.png'); background-repeat: no-repeat;}
.BIconhour-week{background-image: url('Image\Icon24\hour-week.png'); background-repeat: no-repeat;}

.BIconlaurea-white{background-image: url('Image\Icon24\laurea-white.png'); background-repeat: no-repeat;}
.BIconlaurea{background-image: url('Image\Icon24\laurea.png'); background-repeat: no-repeat;}

.BIconlente-white{background-image: url('Image\Icon24\lente-white.png'); background-repeat: no-repeat;}
.BIconlente{background-image: url('Image\Icon24\lente.png'); background-repeat: no-repeat;}

.BIconmail-white{background-image: url('Image\Icon24\mail-white.png'); background-repeat: no-repeat;}
.BIconmail{background-image: url('Image\Icon24\mail.png'); background-repeat: no-repeat;}

.BIconmessage{background-image: url('Image\Icon24\message.png'); background-repeat: no-repeat;}.BIconmessagge-white{background-image: url('Image\Icon24\messagge-white.png'); background-repeat: no-repeat;}
.BIconnews-novita-white{background-image: url('Image\Icon24\news-novita-white.png'); background-repeat: no-repeat;}
.BIconnews-novita{background-image: url('Image\Icon24\news-novita.png'); background-repeat: no-repeat;}

.BIconpeoples-white{background-image: url('Image\Icon24\peoples-white.png'); background-repeat: no-repeat;}
.BIconpeoples{background-image: url('Image\Icon24\peoples.png'); background-repeat: no-repeat;}

.BIconpersone-white{background-image: url('Image\Icon24\persone-white.png'); background-repeat: no-repeat;}
.BIconpersone{background-image: url('Image\Icon24\persone.png'); background-repeat: no-repeat;}

.BIconpicture-white{background-image: url('Image\Icon24\picture-white.png'); background-repeat: no-repeat;}
.BIconpicture{background-image: url('Image\Icon24\picture.png'); background-repeat: no-repeat;}

.BIconposition-white{background-image: url('Image\Icon24\position-white.png'); background-repeat: no-repeat;}
.BIconposition{background-image: url('Image\Icon24\position.png'); background-repeat: no-repeat;}

.BIconprodotto-e-commerce-white{background-image: url('Image\Icon24\prodotto-e-commerce-white.png'); background-repeat: no-repeat;}
.BIconprodotto-e-commerce{background-image: url('Image\Icon24\prodotto-e-commerce.png'); background-repeat: no-repeat;}

.BIconrepair-white{background-image: url('Image\Icon24\repair-white.png'); background-repeat: no-repeat;}
.BIconrepair{background-image: url('Image\Icon24\repair.png'); background-repeat: no-repeat;}

.BIconriservato-usoInternoConfidenziale-white{background-image: url('Image\Icon24\riservato-usoInternoConfidenziale-white.png'); background-repeat: no-repeat;}
.BIconriservato-usoInternoConfidenziale{background-image: url('Image\Icon24\riservato-usoInternoConfidenziale.png'); background-repeat: no-repeat;}

.BIconriunione-meeting-white{background-image: url('Image\Icon24\riunione-meeting-white.png'); background-repeat: no-repeat;}
.BIconriunione-meeting{background-image: url('Image\Icon24\riunione-meeting.png'); background-repeat: no-repeat;}

.BIconsettings-white{background-image: url('Image\Icon24\settings-white.png'); background-repeat: no-repeat;}
.BIconsettings{background-image: url('Image\Icon24\settings.png'); background-repeat: no-repeat;}

.BIconsmartphone-white{background-image: url('Image\Icon24\smartphone-white.png'); background-repeat: no-repeat;}
.BIconsmartphone{background-image: url('Image\Icon24\smartphone.png'); background-repeat: no-repeat;}

.BIconsoldi-fatturatoAndamento-white{background-image: url('Image\Icon24\soldi-fatturatoAndamento-white.png'); background-repeat: no-repeat;}
.BIconsoldi-fatturatoAndamento{background-image: url('Image\Icon24\soldi-fatturatoAndamento.png'); background-repeat: no-repeat;}

.BIconsoluzione-idea-white{background-image: url('Image\Icon24\soluzione-idea-white.png'); background-repeat: no-repeat;}
.BIconsoluzione-idea{background-image: url('Image\Icon24\soluzione-idea.png'); background-repeat: no-repeat;}

.BIconstruttura-flusso-white{background-image: url('Image\Icon24\struttura-flusso-white.png'); background-repeat: no-repeat;}
.BIconstruttura-flusso{background-image: url('Image\Icon24\struttura-flusso.png'); background-repeat: no-repeat;}

.BIcontarget-obiettivo-white{background-image: url('Image\Icon24\target-obiettivo-white.png'); background-repeat: no-repeat;}
.BIcontarget-obiettivo{background-image: url('Image\Icon24\target-obiettivo.png'); background-repeat: no-repeat;}

.BIcontiming-tempistiche-white{background-image: url('Image\Icon24\timing-tempistiche-white.png'); background-repeat: no-repeat;}
.BIcontiming-tempistiche{background-image: url('Image\Icon24\timing-tempistiche.png'); background-repeat: no-repeat;}

.BIconweb-link-white{background-image: url('Image\Icon24\web-link-white.png'); background-repeat: no-repeat;}
.BIconweb-link{background-image: url('Image\Icon24\web-link.png'); background-repeat: no-repeat;}

.BIconwifi-white{background-image: url('Image\Icon24\wifi-white.png'); background-repeat: no-repeat;}
.BIconwifi{background-image: url('Image\Icon24\wifi.png'); background-repeat: no-repeat;}


.BIcon0:disabled{background-image: url('Image\Icon24\0Dis.png'); background-repeat: no-repeat;}
.BIcon1:disabled{background-image: url('Image\Icon24\1Dis.png'); background-repeat: no-repeat;}
.BIcon2:disabled{background-image: url('Image\Icon24\2Dis.png'); background-repeat: no-repeat;}
.BIcon3:disabled{background-image: url('Image\Icon24\3Dis.png'); background-repeat: no-repeat;}
.BIcon4:disabled{background-image: url('Image\Icon24\4Dis.png'); background-repeat: no-repeat;}
.BIcon5:disabled{background-image: url('Image\Icon24\5Dis.png'); background-repeat: no-repeat;}
.BIcon6:disabled{background-image: url('Image\Icon24\6Dis.png'); background-repeat: no-repeat;}
.BIcon7:disabled{background-image: url('Image\Icon24\7Dis.png'); background-repeat: no-repeat;}
.BIcon8:disabled{background-image: url('Image\Icon24\8Dis.png'); background-repeat: no-repeat;}
.BIcon9:disabled{background-image: url('Image\Icon24\9Dis.png'); background-repeat: no-repeat;}
.BIconagenda-appuntamento:disabled{background-image: url('Image\Icon24\agenda-appuntamentoDis.png'); background-repeat: no-repeat;}
.BIconaiuto:disabled{background-image: url('Image\Icon24\aiutoDis.png'); background-repeat: no-repeat;}
.BIconarrows:disabled{background-image: url('Image\Icon24\arrowsDis.png'); background-repeat: no-repeat;}
.BIconcam:disabled{background-image: url('Image\Icon24\camDis.png'); background-repeat: no-repeat;}
.BIconcheck:disabled{background-image: url('Image\Icon24\checkDis.png'); background-repeat: no-repeat;}
.BIconcloud:disabled{background-image: url('Image\Icon24\cloudDis.png'); background-repeat: no-repeat;}
.BIcondress:disabled{background-image: url('Image\Icon24\dressDis.png'); background-repeat: no-repeat;}
.BIconEmail:disabled{background-image: url('Image\Icon24\EmailDis.png'); background-repeat: no-repeat;}
.BIconhour-week:disabled{background-image: url('Image\Icon24\hour-weekDis.png'); background-repeat: no-repeat;}
.BIconlaurea:disabled{background-image: url('Image\Icon24\laureaDis.png'); background-repeat: no-repeat;}
.BIconlente:disabled{background-image: url('Image\Icon24\lenteDis.png'); background-repeat: no-repeat;}
.BIconmessage:disabled{background-image: url('Image\Icon24\messageDis.png'); background-repeat: no-repeat;}
.BIconModifica:disabled{background-image: url('Image\Icon24\ModificaDis.png'); background-repeat: no-repeat;}
.BIconnews-novita:disabled{background-image: url('Image\Icon24\news-novitaDis.png'); background-repeat: no-repeat;}
.BIconpeoples:disabled{background-image: url('Image\Icon24\peoplesDis.png'); background-repeat: no-repeat;}
.BIconpersone:disabled{background-image: url('Image\Icon24\personeDis.png'); background-repeat: no-repeat;}
.BIconpicture:disabled{background-image: url('Image\Icon24\pictureDis.png'); background-repeat: no-repeat;}
.BIconposition:disabled{background-image: url('Image\Icon24\positionDis.png'); background-repeat: no-repeat;}
.BIconprodotto-e-commerce:disabled{background-image: url('Image\Icon24\prodotto-e-commerceDis.png'); background-repeat: no-repeat;}
.BIconrepair:disabled{background-image: url('Image\Icon24\repairDis.png'); background-repeat: no-repeat;}
.BIconriservato-usoInternoConfidenziale:disabled{background-image: url('Image\Icon24\riservato-usoInternoConfidenzialeDis.png'); background-repeat: no-repeat;}
.BIconriunione-meeting:disabled{background-image: url('Image\Icon24\riunione-meetingDis.png'); background-repeat: no-repeat;}
.BIconsettings:disabled{background-image: url('Image\Icon24\settingsDis.png'); background-repeat: no-repeat;}
.BIconsmartphone:disabled{background-image: url('Image\Icon24\smartphoneDis.png'); background-repeat: no-repeat;}
.BIconsoldi-fatturatoAndamento:disabled{background-image: url('Image\Icon24\soldi-fatturatoAndamentoDis.png'); background-repeat: no-repeat;}
.BIconsoluzione-idea:disabled{background-image: url('Image\Icon24\soluzione-ideaDis.png'); background-repeat: no-repeat;}
.BIconstruttura-flusso:disabled{background-image: url('Image\Icon24\struttura-flussoDis.png'); background-repeat: no-repeat;}
.BIcontarget-obiettivo:disabled{background-image: url('Image\Icon24\target-obiettivoDis.png'); background-repeat: no-repeat;}
.BIcontiming-tempistiche:disabled{background-image: url('Image\Icon24\timing-tempisticheDis.png'); background-repeat: no-repeat;}
.BIconweb-link:disabled{background-image: url('Image\Icon24\web-linkDis.png'); background-repeat: no-repeat;}
.BIconwifi:disabled{background-image: url('Image\Icon24\wifiDis.png'); background-repeat: no-repeat;}

