.BIcon0-white32{background-image: url('Image\Icon32\0-white.png'); background-repeat: no-repeat;}
.BIcon032{background-image: url('Image\Icon32\0.png'); background-repeat: no-repeat;}

.BIcon1-white32{background-image: url('Image\Icon32\1-white.png'); background-repeat: no-repeat;}
.BIcon132{background-image: url('Image\Icon32\1.png'); background-repeat: no-repeat;}

.BIcon2-white32{background-image: url('Image\Icon32\2-white.png'); background-repeat: no-repeat;}
.BIcon232{background-image: url('Image\Icon32\2.png'); background-repeat: no-repeat;}

.BIcon3-white32{background-image: url('Image\Icon32\3-white.png'); background-repeat: no-repeat;}
.BIcon332{background-image: url('Image\Icon32\3.png'); background-repeat: no-repeat;}

.BIcon4-white32{background-image: url('Image\Icon32\4-white.png'); background-repeat: no-repeat;}
.BIcon432{background-image: url('Image\Icon32\4.png'); background-repeat: no-repeat;}

.BIcon5-white32{background-image: url('Image\Icon32\5-white.png'); background-repeat: no-repeat;}
.BIcon532{background-image: url('Image\Icon32\5.png'); background-repeat: no-repeat;}

.BIcon6-white32{background-image: url('Image\Icon32\6-white.png'); background-repeat: no-repeat;}
.BIcon632{background-image: url('Image\Icon32\6.png'); background-repeat: no-repeat;}

.BIcon7-white32{background-image: url('Image\Icon32\7-white.png'); background-repeat: no-repeat;}
.BIcon732{background-image: url('Image\Icon32\7.png'); background-repeat: no-repeat;}

.BIcon8-white32{background-image: url('Image\Icon32\8-white.png'); background-repeat: no-repeat;}
.BIcon832{background-image: url('Image\Icon32\8.png'); background-repeat: no-repeat;}

.BIcon9-white32{background-image: url('Image\Icon32\9-white.png'); background-repeat: no-repeat;}
.BIcon932{background-image: url('Image\Icon32\9.png'); background-repeat: no-repeat;}

.BIconagenda-appuntamento-white32{background-image: url('Image\Icon32\agenda-appuntamento-white.png'); background-repeat: no-repeat;}
.BIconagenda-appuntamento32{background-image: url('Image\Icon32\agenda-appuntamento.png'); background-repeat: no-repeat;}

.BIconaiuto-white32{background-image: url('Image\Icon32\aiuto-white.png'); background-repeat: no-repeat;}
.BIconaiuto32{background-image: url('Image\Icon32\aiuto.png'); background-repeat: no-repeat;}

.BIconarrows-white32{background-image: url('Image\Icon32\arrows-white.png'); background-repeat: no-repeat;}
.BIconarrows32{background-image: url('Image\Icon32\arrows.png'); background-repeat: no-repeat;}

.BIconcam-white32{background-image: url('Image\Icon32\cam-white.png'); background-repeat: no-repeat;}
.BIconcam32{background-image: url('Image\Icon32\cam.png'); background-repeat: no-repeat;}

.BIconcheck-white32{background-image: url('Image\Icon32\check-white.png'); background-repeat: no-repeat;}
.BIconcheck32{background-image: url('Image\Icon32\check.png'); background-repeat: no-repeat;}

.BIconcloud-white32{background-image: url('Image\Icon32\cloud-white.png'); background-repeat: no-repeat;}
.BIconcloud32{background-image: url('Image\Icon32\cloud.png'); background-repeat: no-repeat;}

.BIcondress-white32{background-image: url('Image\Icon32\dress-white.png'); background-repeat: no-repeat;}
.BIcondress32{background-image: url('Image\Icon32\dress.png'); background-repeat: no-repeat;}

.BIconEmail-white32{background-image: url('Image\Icon32\Email-white.png'); background-repeat: no-repeat;}
.BIconEmail32{background-image: url('Image\Icon32\Email.png'); background-repeat: no-repeat;}

.BIconhour-week-white32{background-image: url('Image\Icon32\hour-week-white.png'); background-repeat: no-repeat;}
.BIconhour-week32{background-image: url('Image\Icon32\hour-week.png'); background-repeat: no-repeat;}

.BIconlaurea-white32{background-image: url('Image\Icon32\laurea-white.png'); background-repeat: no-repeat;}
.BIconlaurea32{background-image: url('Image\Icon32\laurea.png'); background-repeat: no-repeat;}

.BIconLente-white32{background-image: url('Image\Icon32\Lente-white.png'); background-repeat: no-repeat;}
.BIconLente32{background-image: url('Image\Icon32\Lente.png'); background-repeat: no-repeat;}

.BIconmessage32{background-image: url('Image\Icon32\message.png'); background-repeat: no-repeat;}

.BIconmessagge-white32{background-image: url('Image\Icon32\messagge-white.png'); background-repeat: no-repeat;}
.BIconModifica-white32{background-image: url('Image\Icon32\Modifica-white.png'); background-repeat: no-repeat;}
.BIconModifica32{background-image: url('Image\Icon32\Modifica.png'); background-repeat: no-repeat;}

.BIconnews-novita-white32{background-image: url('Image\Icon32\news-novita-white.png'); background-repeat: no-repeat;}
.BIconnews-novita32{background-image: url('Image\Icon32\news-novita.png'); background-repeat: no-repeat;}

.BIconpeoples-white32{background-image: url('Image\Icon32\peoples-white.png'); background-repeat: no-repeat;}
.BIconpeoples32{background-image: url('Image\Icon32\peoples.png'); background-repeat: no-repeat;}

.BIconpersone-white32{background-image: url('Image\Icon32\persone-white.png'); background-repeat: no-repeat;}
.BIconpersone32{background-image: url('Image\Icon32\persone.png'); background-repeat: no-repeat;}

.BIconpicture-white32{background-image: url('Image\Icon32\picture-white.png'); background-repeat: no-repeat;}
.BIconpicture32{background-image: url('Image\Icon32\picture.png'); background-repeat: no-repeat;}

.BIconposition-white32{background-image: url('Image\Icon32\position-white.png'); background-repeat: no-repeat;}
.BIconposition32{background-image: url('Image\Icon32\position.png'); background-repeat: no-repeat;}

.BIconprodotto-e-commerce-white32{background-image: url('Image\Icon32\prodotto-e-commerce-white.png'); background-repeat: no-repeat;}
.BIconprodotto-e-commerce32{background-image: url('Image\Icon32\prodotto-e-commerce.png'); background-repeat: no-repeat;}

.BIconrepair-white32{background-image: url('Image\Icon32\repair-white.png'); background-repeat: no-repeat;}
.BIconrepair32{background-image: url('Image\Icon32\repair.png'); background-repeat: no-repeat;}

.BIconriservato-usoInternoConfidenziale-white32{background-image: url('Image\Icon32\riservato-usoInternoConfidenziale-white.png'); background-repeat: no-repeat;}
.BIconriservato-usoInternoConfidenziale32{background-image: url('Image\Icon32\riservato-usoInternoConfidenziale.png'); background-repeat: no-repeat;}

.BIconriunione-meeting-white32{background-image: url('Image\Icon32\riunione-meeting-white.png'); background-repeat: no-repeat;}
.BIconriunione-meeting32{background-image: url('Image\Icon32\riunione-meeting.png'); background-repeat: no-repeat;}

.BIconsettings-white32{background-image: url('Image\Icon32\settings-white.png'); background-repeat: no-repeat;}
.BIconsettings32{background-image: url('Image\Icon32\settings.png'); background-repeat: no-repeat;}

.BIconsmartphone-white32{background-image: url('Image\Icon32\smartphone-white.png'); background-repeat: no-repeat;}
.BIconsmartphone32{background-image: url('Image\Icon32\smartphone.png'); background-repeat: no-repeat;}

.BIconsoldi-fatturatoAndamento-white32{background-image: url('Image\Icon32\soldi-fatturatoAndamento-white.png'); background-repeat: no-repeat;}
.BIconsoldi-fatturatoAndamento32{background-image: url('Image\Icon32\soldi-fatturatoAndamento.png'); background-repeat: no-repeat;}

.BIconsoluzione-idea-white32{background-image: url('Image\Icon32\soluzione-idea-white.png'); background-repeat: no-repeat;}
.BIconsoluzione-idea32{background-image: url('Image\Icon32\soluzione-idea.png'); background-repeat: no-repeat;}

.BIconstruttura-flusso-white32{background-image: url('Image\Icon32\struttura-flusso-white.png'); background-repeat: no-repeat;}
.BIconstruttura-flusso32{background-image: url('Image\Icon32\struttura-flusso.png'); background-repeat: no-repeat;}

.BIcontarget-obiettivo-white32{background-image: url('Image\Icon32\target-obiettivo-white.png'); background-repeat: no-repeat;}
.BIcontarget-obiettivo32{background-image: url('Image\Icon32\target-obiettivo.png'); background-repeat: no-repeat;}

.BIcontiming-tempistiche-white32{background-image: url('Image\Icon32\timing-tempistiche-white.png'); background-repeat: no-repeat;}
.BIcontiming-tempistiche32{background-image: url('Image\Icon32\timing-tempistiche.png'); background-repeat: no-repeat;}

.BIconweb-link-white32{background-image: url('Image\Icon32\web-link-white.png'); background-repeat: no-repeat;}
.BIconweb-link32{background-image: url('Image\Icon32\web-link.png'); background-repeat: no-repeat;}

.BIconwifi-white32{background-image: url('Image\Icon32\wifi-white.png'); background-repeat: no-repeat;}
.BIconwifi32{background-image: url('Image\Icon32\wifi.png'); background-repeat: no-repeat;}


.BIcon032:disabled{background-image: url('Image/Icon24/0Dis.png'); background-repeat: no-repeat;}
.BIcon132:disabled{background-image: url('Image/Icon24/1Dis.png'); background-repeat: no-repeat;}
.BIcon232:disabled{background-image: url('Image/Icon24/2Dis.png'); background-repeat: no-repeat;}
.BIcon332:disabled{background-image: url('Image/Icon24/3Dis.png'); background-repeat: no-repeat;}
.BIcon432:disabled{background-image: url('Image/Icon24/4Dis.png'); background-repeat: no-repeat;}
.BIcon532:disabled{background-image: url('Image/Icon24/5Dis.png'); background-repeat: no-repeat;}
.BIcon632:disabled{background-image: url('Image/Icon24/6Dis.png'); background-repeat: no-repeat;}
.BIcon732:disabled{background-image: url('Image/Icon24/7Dis.png'); background-repeat: no-repeat;}
.BIcon832:disabled{background-image: url('Image/Icon24/8Dis.png'); background-repeat: no-repeat;}
.BIcon932:disabled{background-image: url('Image/Icon24/9Dis.png'); background-repeat: no-repeat;}
.BIconagenda-appuntamento32:disabled{background-image: url('Image/Icon24/agenda-appuntamentoDis.png'); background-repeat: no-repeat;}
.BIconaiuto32:disabled{background-image: url('Image/Icon24/aiutoDis.png'); background-repeat: no-repeat;}
.BIconarrows32:disabled{background-image: url('Image/Icon24/arrowsDis.png'); background-repeat: no-repeat;}
.BIconcam32:disabled{background-image: url('Image/Icon24/camDis.png'); background-repeat: no-repeat;}
.BIconcheck32:disabled{background-image: url('Image/Icon24/checkDis.png'); background-repeat: no-repeat;}
.BIconcloud32:disabled{background-image: url('Image/Icon24/cloudDis.png'); background-repeat: no-repeat;}
.BIcondress32:disabled{background-image: url('Image/Icon24/dressDis.png'); background-repeat: no-repeat;}
.BIconEmail32:disabled{background-image: url('Image/Icon24/EmailDis.png'); background-repeat: no-repeat;}
.BIconhour-week32:disabled{background-image: url('Image/Icon24/hour-weekDis.png'); background-repeat: no-repeat;}
.BIconlaurea32:disabled{background-image: url('Image/Icon24/laureaDis.png'); background-repeat: no-repeat;}
.BIconlente32:disabled{background-image: url('Image/Icon24/lenteDis.png'); background-repeat: no-repeat;}
.BIconmessage32:disabled{background-image: url('Image/Icon24/messageDis.png'); background-repeat: no-repeat;}
.BIconModifica32:disabled{background-image: url('Image/Icon24/ModificaDis.png'); background-repeat: no-repeat;}
.BIconnews-novita32:disabled{background-image: url('Image/Icon24/news-novitaDis.png'); background-repeat: no-repeat;}
.BIconpeoples32:disabled{background-image: url('Image/Icon24/peoplesDis.png'); background-repeat: no-repeat;}
.BIconpersone32:disabled{background-image: url('Image/Icon24/personeDis.png'); background-repeat: no-repeat;}
.BIconpicture32:disabled{background-image: url('Image/Icon24/pictureDis.png'); background-repeat: no-repeat;}
.BIconposition32:disabled{background-image: url('Image/Icon24/positionDis.png'); background-repeat: no-repeat;}
.BIconprodotto-e-commerce32:disabled{background-image: url('Image/Icon24/prodotto-e-commerceDis.png'); background-repeat: no-repeat;}
.BIconrepair32:disabled{background-image: url('Image/Icon24/repairDis.png'); background-repeat: no-repeat;}
.BIconriservato-usoInternoConfidenziale32:disabled{background-image: url('Image/Icon24/riservato-usoInternoConfidenzialeDis.png'); background-repeat: no-repeat;}
.BIconriunione-meeting32:disabled{background-image: url('Image/Icon24/riunione-meetingDis.png'); background-repeat: no-repeat;}
.BIconsettings32:disabled{background-image: url('Image/Icon24/settingsDis.png'); background-repeat: no-repeat;}
.BIconsmartphone32:disabled{background-image: url('Image/Icon24/smartphoneDis.png'); background-repeat: no-repeat;}
.BIconsoldi-fatturatoAndamento32:disabled{background-image: url('Image/Icon24/soldi-fatturatoAndamentoDis.png'); background-repeat: no-repeat;}
.BIconsoluzione-idea32:disabled{background-image: url('Image/Icon24/soluzione-ideaDis.png'); background-repeat: no-repeat;}
.BIconstruttura-flusso32:disabled{background-image: url('Image/Icon24/struttura-flussoDis.png'); background-repeat: no-repeat;}
.BIcontarget-obiettivo32:disabled{background-image: url('Image/Icon24/target-obiettivoDis.png'); background-repeat: no-repeat;}
.BIcontiming-tempistiche32:disabled{background-image: url('Image/Icon24/timing-tempisticheDis.png'); background-repeat: no-repeat;}
.BIconweb-link32:disabled{background-image: url('Image/Icon24/web-linkDis.png'); background-repeat: no-repeat;}
.BIconwifi32:disabled{background-image: url('Image/Icon24/wifiDis.png'); background-repeat: no-repeat;}