.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #2196F3;
  border-radius: 50%;
  border: 1px solid gray;
}

  .checkmark:hover {
    box-shadow: 1px 1px 1px 0 gray;
  }

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
  box-shadow: 1px 1px gray;
}

.container .checkmark:after {
  top: 8px;
  left: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  box-sizing: border-box;
}
