/*MODALITTA SMARTPHONE*/
@media only screen and (max-width: 600px) {
  /* CLASSI PER IL BMENU */
  .BMenu {
    /*background: #727272;*/
    background-color: #EEDC00;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 35px;
  }

  .BMenuContainer {
    display: none;
  }

    .BMenuContainer.expand {
      display: block !important;
    }


  /*MENU PRINCIPALE*/
  .BMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: calc(100% + 1px);
    float: left;
    border-top: 2px solid #00c4ff;
    border-bottom: 2px solid #00c4ff;
    box-sizing: border-box;
  }

  .BMenuItemContainer {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    min-width: calc(100% + 1px);
    height: 35px;
    float: left;
    box-sizing: border-box;
  }

  /*ATTRIBUTO PRESENTE SOLO PER NODI PADRE*/
  .BHasChild {
    min-width: calc(100% - 26px) !important;
  }


  .BMenuItemLabel {
    text-decoration: none;
    color: black;
    font-size: 10pt;
    float: left;
    padding-left: 5px;
    min-width: calc(100% - 40px);
    height: 35px;
    line-height: 35px;
  }

  .BMenuItemPanelIcon {
    width: 30px;
    height: 35px;
    float: left;
    background-color: #EEDC00;
    /*background-color: #727272;*/
  }

  .BMenuItemIcon {
    height: 24px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
  }

  .BMenuItemPanelExpand {
    height: 35px;
    width: 26px;
    background-color: #e5e5e5;
    background-image: url('Image/Icon32/Expand32.png');
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    cursor: pointer;
  }

    .BMenuItemPanelExpand.collapse {
      background-image: url('Image/Icon32/Collapse32.png') !important;
    }


  .BFirstMenu > li {
    float: left;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

    .BFirstMenu > li:first-child {
      border-left: 0;
      width: 100%;
      float: left;
      box-sizing: border-box;
    }

  /*SOTTO MENU*/

  .BSubMenu {
    position: relative;
    float: left;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: .3s linear;
    transition: .3s linear;
    box-sizing: border-box;
    display: none;
  }

  .BMenu li.tapped > .BSubMenu {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
    display: block;
  }

  .BSubMenu li {
    position: relative;
  }

  .BSubMenu .BSubMenu {
    position: relative;
    float: left;
    box-sizing: border-box;
  }


  /*ITEM TENDINE*/

  /*BOTTONE RESPONSIVE*/
  .BMenu-Btn {
    display: block;
    float: left;
    height: 32px;
    margin: 1px;
    margin-left: 5px;
    width: calc(100% - 10px);
    background-image: url('Image/Icon24/Funzioni.png');
    background-repeat: no-repeat;
  }
}
