.BBGColorAzure {
  background-color: #007bff;
}

.BBGColorSuccess {
  background-color: #28a745;
}

.BBGColorInfo {
  background-color: #17a2b8;
}

.BBGColorWarning {
  background-color: #ffc107;
}

.BBGColorDanger {
  background-color: #dc3545;
}

.BBGColorWhite {
  background-color: white;
}


.BBGColorBlack {
  background-color: black;
}

.BBGColorRed {
  background-color: red;
}

.BBGColorBlue {
  background-color: blue;
}

.BBGColorGray {
  background-color: gray;
}

.BBGColorDarkGray {
  background-color: darkgray;
}

.BBGColorLigthGray {
  background-color: lightgray;
}

.BBGColorLigthBlue {
  background-color: #bfd0e4;
}

.BBGColorGrigioScuroPoste {
  background-color: #4f4a4a;
}


.BBGColorWhiteGray {
  background-color: #e5e5e5;
}
