<?xml version="1.0"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState mode="InProc" timeout="1" />-->
    <!--FOR DEBUG SESSION TIMEOUT-->
    <compilation debug="true" targetFramework="4.6">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
    <pages>
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
        <add namespace="BArts"/>
        <add namespace="BArts.BData"/>
        <add namespace="BArts.BWeb.BControls"/>
        <add namespace="BArts.BInterface"/>
        <add namespace="BArts.BReports"/>
        <add namespace="BArts.BGlobal"/>
        <add namespace="BArts.BLog"/>
        <add namespace="BArts.BSecurity"/>
      </namespaces>
      <controls>
        <add tagPrefix="BWC" namespace="BArts.BWeb.BControls" assembly="BArtsFrameworkNet"/>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BArtsFrameworkStandard" publicKeyToken="7a433bb7ef39396b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.4.0" newVersion="1.4.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.EventLog" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.5" newVersion="4.6.1.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--**************************************************APERTURA APPSETTINGS DI SISTEMA**********************************************-->
    <!-- NON RIMUOVERE, AGGIUNGERE O MODIFICARE LE SEGUENTI CHIAVI FINO ALLA TAG DI COMMENTO "CHIUSURA APPSETTINGS DI SISTEMA"-->
    <!-- SETTAGGI GLOBALI-->
    <add key="AUTOMINIFY" value="FALSE"/>
    <add key="VS_DEBUG" value="FALSE"/>
    <!--METTERE TRUE SE SI UTILIZZA L'EMULATORE DI IIS PRESENTE IN VISUAL STUDIO-->
    <!-- SETTAGGI DI SISTEMA-->
    <add key="TipoApplicazione" value="POSTERUO"/>
    <!--WPAPPCHILD POSTERUO WPINTERNA-->
    <add key="WPAPPCHILDDEBUG" value="False"/>
    <!--<add key="WEBPERSURL" value="https://webpers1a.rete.poste/WebPers_net/Login.aspx"/>-->
    <add key="WEBPERSURL" value="https://swpas01.rete.testposte/WebPers_net/Login.aspx"/>
    <!--SETTAGGI DI AUTENTICAZIONE-->
    <add key="GestioneUtenti" value="TRUE"/>
    <add key="AutenticazioneIniziale" value="TRUE"/>
    <add key="ShowNTAccount" value="FALSE"/>
    <add key="AuthType" value="WINDOWS"/>
    <!-- TRAMITE QUESTO PARAMETRO SI DEFINISCE LA MODALITA' AUTENTICAZIONE
                                          VALORI AMMESSI: 
                                          - NONE:  CUSTOM; 
                                          - WINDOWS: WINDOWS AUTHENTICATION
    -->
    <add key="AutoLoginWindows" value="FALSE"/>
    <add key="ActiveVirtualLogin" value="FALSE"/>
    <add key="AutoCreateUserWithConfigurationProfile" value="FALSE"/>
    <add key="AutoLogin_URLOnLogOut" value="https://pwepws07v.rete.poste/WebPersNew/BSYSTEM/SYSLOGIN"/>
    <add key="GoogleAuth" value="FALSE"/>
    <add key="GoogleAuth_ClientID" value="202716487687-ve2djhnp7vin67tn0585k3r4qhhqhiqv.apps.googleusercontent.com"/>
    <add key="GoogleAuth_ClientSecret" value="jEM_83wkHs6EXgU-dPW3Y3bY"/>
    <add key="AppleAuth" value="false"/>
    <add key="AppleAuth_ClientID" value="202716487687-ve2djhnp7vin67tn0585k3r4qhhqhiqv.apps.googleusercontent.com"/>
    <add key="AppleAuth_ClientSecret" value="jEM_83wkHs6EXgU-dPW3Y3bY"/>
    <add key="MicrosoftAuth" value="FALSE"/>
    <add key="MicrosoftAuth_ClientID" value="11316add-f336-4d69-85f0-6a95439524cf"/>
    <add key="MicrosoftAuth_ClientSecret" value="iIIuh~9f24Cs_29v6mQWUO.aa3cX7Lh_N9"/>
    <add key="MicrosoftAuth_TenantID" value="b20d0a99-667f-4c66-849b-36535bb8f3a9"/>
    <!--CHIAVE PER HELP PAGE-->
    <add key="URLHelpOnline" value="~/Help.aspx"/>
    <!--DATABASE-->
    <add key="WEBSITEUSEDB" value="TRUE"/>
    <add key="CNNSTR" value="Data Source={0}; Initial Catalog={1}; User id={2}; Password={3}"/>
    <!--IMPOSTAZIONE DI CONNESSIONE DB APPLICATION-->
    <add key="DBAPP_DB" value="PosteWebTemplate1"/>
    <add key="DBAPP_SERVER" value="SWPERDB02C.rete.testposte\IST01, 56871"/>
    <add key="DBAPP_USER" value="dcru"/>
    <add key="DBAPP_PWD" value="GAZo8MicFlhiu5rX7iUdjw=="/>
    <!--IMPOSTAZIONE DI CONNESSIONE DB USER-->
    <add key="DBUSER_DB" value="WebPers"/>
    <add key="DBUSER_SERVER" value="SWPERDB02C.rete.testposte\IST01, 56871"/>
    <add key="DBUSER_USER" value="dcru"/>
    <add key="DBUSER_PWD" value="GAZo8MicFlhiu5rX7iUdjw=="/>
    <!--IMPOSTAZIONE DI CONNESSIONE DB VIEWSTATE-->
    <add key="VIEWSTATE_ONDB" value="FALSE"/>
    <add key="VIEWSTATE_DB" value=""/>
    <add key="VIEWSTATE_SERVER" value=""/>
    <add key="VIEWSTATE_USER" value=""/>
    <add key="VIEWSTATE_PWD" value=""/>
    <add key="VIEWSTATE_TIMEOUT" value="90"/>
    <!--REPORTING SERVICES-->
    <add key="SERVERREPORT_NAME" value=""/>
    <add key="SERVERREPORT_DOMAIN" value=""/>
    <add key="SERVERREPORT_USER" value=""/>
    <add key="SERVERREPORT_PWD" value=""/>
    <add key="SERVERREPORT_FOLDER" value="Reports"/>
    <add key="SERVERREPORT_VERSION" value="4"/>
    <!--SERVER VERSION
    [REPORTING SERVICE 2000] = 0
    [REPORTING SERVICE 2008] = 1
    [REPORTING SERVICE 2012] = 2
    [REPORTING SERVICE 2012 INTEGRATO IN SHARE POINT] = 3
    [REPORT VIEWER] = 4-->
    <add key="SERVERREPORT_SSL" value="TRUE"/>
    <!--SERVER FTP / FILESHARE-->
    <add key="SERVERFILESHARE_FTP" value="FALSE"/>
    <add key="SERVERFILESHARE_PATHRELATIVE" value="TRUE"/>
    <add key="SERVERFILESHARE_AUTHREQUIRED" value="FALSE"/>
    <add key="SERVERFILESHARE_NAME" value=""/>
    <add key="SERVERFILESHARE_DOMAIN" value=""/>
    <add key="SERVERFILESHARE_USER" value=""/>
    <add key="SERVERFILESHARE_PWD" value=""/>
    <add key="SERVERFILESHARE_FOLDER" value="public"/>
    <!--LOG -->
    <add key="LEVELLOG" value="0"/>
    <add key="WRITEERRORONEVENTLOG" value="FALSE"/>
    <add key="WRITEERRORONDB" value="TRUE"/>
    <add key="WRITEERRORONFILE" value="TRUE"/>
    <add key="WRITEERRORONFILE_PATHREL" value="TRUE"/>
    <add key="WRITEERRORONFILE_PATH" value="public/log"/>
    <add key="WRITEERRORONFILE_WRITEONLYEVENTS" value="FALSE"/>
    <add key="WRITEERRORONFILE_FILEEVENTS" value="BTEMPLATE_EVENTS.LOG"/>
    <add key="WRITEERRORONFILE_FILEERRORS" value="BTEMPLATE_ERRORS.LOG"/>
    <add key="SENDMAILONERROR" value="False"/>
    <add key="SENDMAILONERRORFrom" value=""/>
    <add key="SENDMAILONERRORTo" value=""/>
    <!--SEND MAIL-->
    <add key="SENDMAIL_SenderType" value="eSQLSERVER"/>
    <!--eCDOMicrosoft   eSQLSERVER    eNETMail-->
    <add key="SENDMAIL_SMTPServer" value=""/>
    <add key="SENDMAIL_SMTPPort" value="25"/>
    <add key="SENDMAIL_UserName" value=""/>
    <add key="SENDMAIL_Password" value=""/>
    <add key="SENDMAIL_SSL" value="FALSE"/>
    <add key="SENDMAIL_NomeProfilo" value="BArtsFramework"/>
    <add key="SENDMAIL_NomeAccount" value="BArtsSoftware"/>
    <!--SETTAGGI GRAFICI-->
    <add key="B_THEME" value="tmPt2023"/>
    <add key="USE_SIDEBAR" value="TRUE"/>
    <add key="DEFAULT_SIDEBAR_OPEN" value="FALSE"/>
    <!-- SETTAGGI DI MANUTENZIONE-->
    <add key="OFFLINE" value="FALSE"/>
    <add key="OFFLINE_MSG" value="Sito in aggiornamento... a breve saremo di nuovo in linea."/>
    <add key="INITDB" value="TRUE"/>
    <add key="INITDB_BIFFolder" value="BIF"/>
    <add key="MESSAGE_OLD_BROWSER" value="Per l’utilizzo della procedura è richiesto il browser Internet Explorer (versione 9 o superiore) o Chrome.  Per richiedere l’aggiornamento del browser Internet Explorer è necessario rivolgersi al Polo Tecnologico o al numero verde 800 000 006."/>
    <add key="VERSION_OLD_BROWSER" value="8"/>
    <!-- SETTAGGI DI AUTENTICAZIONE-->
    <add key="SHOWREGISTRATI" value="false"/>
    <add key="SHOWUSECOOKIE" value="false"/>
    <add key="SHOWPWDSMARRITA" value="false"/>
    <!--SETTAGGI CLASS LIBRARY LOCALE-->
    <add key="DB_LIBRARY" value="PosteWebTemplate1"/>
    <add key="DB_LIBRARY_WP" value="WebPers"/>
    <add key="DB_LIBRARY_BIPOSTE" value="BIPoste"/>
    <!--SETTAGGI URL WEBPERS NUOVO-->
    <add key="LinkExternalApp" value="https://webpers2a.rete.poste/"/>
    <add key="LinkExternalApp_Internet" value="https://webperscoll.posteitaliane.it/"/>
    <!--**************************************************CHIUSURA APPSETTINGS DI SISTEMA**********************************************-->
    <!-- AGGIUNGERE DI SEGUITO EVENTUALI CHIAVI DEDICATE ALL'APPLICAZIONE CHE SI STA SVILUPPANDO.-->
    <!-- PER OGNI CHIAVE AGGIUNTA IMPLEMENTARE LA PROPRIETA' NELLA CLASSE BWEBCONFIG PRESENTE NELLA CARTELLA CLASSI-->
    <!--<add key="CHIAVE_DEDICATA" value="VALORE_CHIAVEDEDICATA" />-->
    <!--<add key="CHIAVE_DEDICATA_BOOL" value="TRUE" />-->
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
</configuration>