@media only screen and (min-width: 1025px) {
  /*SFONDO SCRIVANIA*/
  .BWPScrivaniaTop {
/*    background-image: url('Image/Scrivania/top.jpg');
    background-repeat: no-repeat;*/
    height: 64px;
  }

  .BWPScrivaniaSx {
/*    background-image: url('Image/Scrivania/sx.jpg');
    background-repeat: no-repeat;*/
    width: 300px;
    height: 336px;
  }

  .BWPScrivaniaDx {
    /*width: calc(100% - 350px);*/
    width: calc(100% - 50px);
    min-height: 100px;
  }

  .BWPScrivaniaContent {
/*    background-image: url('Image/Scrivania/dx.jpg');
    background-repeat: repeat-y;*/
    max-width: 1920px;
    min-height: calc(100vh - 260px);    
  }

  .BWPScrivaniaLabelWebPers {
    margin-top: 0;
    text-align: right;
    font-size: 48px;
    float: right;
    color: slategrey;
    margin-left: 10px;
    margin-right: 20px;
  }
  .BWPScrivaniaLabelVisibilita {
    margin-top: 0;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
    float: right;
    margin-right: 5px;
    color: #00a1fd !important;
    line-height: 89px;
  }


  /*CONTROLLO PREFERITO*/
  .TitoloPreferito {
    font-size: 15px;
    font-weight: bold;
    Width: 100%;
  }


  .LinkPreferito {
    cursor: pointer;
    font-size: 14px;
    color: black;
    text-align: left;
    text-decoration: none;
    overflow-wrap: break-word;
    margin-left: 5px;
  }

  .ImgPreferiti {
    Width: 12px;
    Height: 12px;
    margin-left: 5px;
    float: left;
    margin-top: 5px;
    cursor: pointer;
  }

  .ListaPreferiti {
    background-color: white;
    float: left;
    width: calc(100% - 4px);
    margin-left: 2px !important;
    min-width: 220px;
    margin-right: 2px !important;
    margin: 1px;
    padding: 0px;
  }

  .LineaPreferiti {
    text-align: left;
    width: 95%;
    border-top: 1px solid #eedc00;
  }

  .CellaPreferito {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .CellaPreferito tr {
    width: 33.3333% !important;
    float: left;
  }

  .CellaPreferito tr td{
    width: 100%;
    float: left;

  }

  /*ICONEAPP*/

  .Bottone_App {
    min-width: 40px;
    min-height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    float: left;
    border: 1px;
  }

  .AppContainer {
    width: 128px;
    float: left;
    margin: 5px;
  }

  .AppIcon {
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 23px;
  }

  .AppLink {
    width: calc(100% - 0px);
    float: left;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    height: 45px;
  }

  .cssLinkButton {
    font-size: 14px;
    /*color: whitesmoke !important;*/
    color: Black!important;
    width: calc(100% - 0px);
    text-align: center;
    font-weight: normal;
    /*text-shadow: 0px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2px 2px 3px #424242;*/
  }

  .cssLinkImage {
    width: 64px;
    height: 64px;
    margin: 7px;
  }

  .lnkApp {
    cursor: pointer;
  }

  .LabelInfoApp {
    font-weight: bold;
    background-color: blanchedalmond;
    font-size: medium;
  }

  .LabelNews {
    font-size: smaller;
    cursor: pointer;
    /*color: white;*/
    color:#0d47a1;
    text-decoration: underline;
  }

  /*Modifiche Preferiti e News*/

  .PreferitiHome {
    width: 60%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }

  .NewsHome {
    width: calc(40% - 10px);
    float: left
  }

/*Modifica sfondo icona titolo webPers*/
  .SfondoTitoloWebPers {
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #f2f2f2 100%);  
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {

  .Data{
    width:100%!important;
    float:left;
  }

  .Data div {
    width: calc(100% - 280px)!important;      
  }

  .Ore label{
    width:200px!important;
  }
}


